body{
    background-color:#556b2f;
}
.main{
    height: 700px;
    width: 900px;

    margin-right: auto;
    margin-left: auto;
}
.fix{
    overflow: hidden;
    display: block;
}
.set{
    background-color: #f2f2f2;;
    width: 80%;
    height: 80%;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
}
.mainContent{


}
.mainContent ul {
    padding: 71px 271px;

}
.mainContent ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #545c5c;
    border-bottom-style: groove;



}
.mainContent ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Bell MT";
    color: black;

}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.inputfield{
    margin-top: 82px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
.inputfield a{
    text-decoration: none;
}